.overlay-container {
    width: 40%;
    height: 50%;
    background-color: white;
    position: absolute;
    top: 0;
    right: 3rem;
    padding: 32px 16px 100px 16px;
    overflow-y: auto;
}

.overlay-container > div {
    display: flex;
    flex-direction: column;
}

.overlay-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.overlay-btn > div {
    width: 40%;
    margin-bottom: 0;
}
.total {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-top: 1rem;
}
@media only screen and (max-width: 800px) {
    .overlay-container {
        width: 70%;
    }
}
