.product-card {
    position: relative;
    width: 26%;
    transition: 0.3s;
    text-align: start;
    color: #1d1f22;
    overflow: hidden;
    margin-bottom: 3rem;
}
.product-card:hover {
    box-shadow: 0px 0px 40px -25px rgb(110, 114, 110);
}
.product-card > a {
    text-decoration: none;
    color: inherit;
}
.product-card a:active {
    text-decoration: none;
    color: inherit;
}

.product-card__container {
    padding: 1rem;
}
.product-card__image {
    position: relative;
    width: 100%;
}
.product-card__image img {
    max-width: 100%;
    max-height: 100%;
}
.product-card__outOfStock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    white-space: nowrap;
}
.product-card__desc {
    margin-top: 1rem;
    font-size: 18px;
}

.product-card__desc p {
    font-weight: 300;
    line-height: 1;
}
.product-card__price {
    font-weight: 500;
}
.product-card__addBtn {
    position: absolute;
    top: 100%;
    right: 2rem;
    visibility: hidden;
    transition: all 0.3s;
}
.addToCardBtn {
    padding: 1rem;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #5ece7b;
    cursor: pointer;
}
.product-card:hover .product-card__addBtn {
    top: 70%;
    visibility: visible;
}
.outOfStock {
    opacity: 0.5;
}
@media only screen and (max-width: 992px) {
    .product-card {
        width: 30%;
    }
}
@media only screen and (max-width: 769px) {
    .product-card {
        width: 40%;
    }
}
@media only screen and (max-width: 495px) {
    .product-card {
        width: 90%;
    }
}
