@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.centered {
    margin: 8rem auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cart-overlay {
    position: relative;
    z-index: 999;
}
